@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

:root 
{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body 
{
    margin: 0;
    padding: 0;
    color: black;
    background: rgb(19, 19, 19);
    font-family: 'Noto Sans', sans-serif;
}

.container
{
    display: grid;
    height: 100vh;
}

.grid
{
    display: grid;
}

/* Slideshow Starts */

.slideshow
{
    display: grid;
    grid-template-columns: 150px 1fr;
    /* grid-template-rows: 48px 1fr auto auto; */
    grid-template-rows: 1fr;
    justify-items: center;
    
    overflow: hidden;
}

.slide
{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 10px;;
    margin: 20px;
}

.full-image, .magnified-image
{
    
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#full-image
{
    display: block;
    max-height: 95vh;
    width: 35vw;
    border-radius: 4px;
    opacity: 1;
    cursor: none;
}

#magnified-image
{
    background-color: #353535;
    color: #FFF;
    height: 95vh;
    width: 35vw;
    border-radius: 4px;
}

.magnifier-lens
{
    position: absolute;
    border-radius: 4px; 
    width: 100px;
    height: 120px;
    pointer-events: none;
    
}

#full-image:hover  
{
    opacity: .5;
    filter: blur(2px);
}

#slider-container 
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
    margin-left: 5px;
	width: 140px;
	gap: 1%;
	justify-content: center;
}

.slider-container-transition 
{
	transition: transform 0.7s ease-in-out;
}

.slider-item 
{
	height: 24%;
	text-align: center;
	flex-shrink: 0;
	background-color: #23232e;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	font-size: 3rem;
	box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
    opacity: 0.4; 
    color: #ccc;
}

.active, .slider-item:hover 
{
    cursor: pointer;
    opacity: 1;
}


/* Slideshow Ends */